<p id="notice"><%= notice %></p>

<h2>Browse All Listings</h2>
<br>
<%= link_to 'Add A New Listing', new_listing_path %>
<div class="row row-cols-1 row-cols-md-3">
  <% @listings.each do |listing| %>
      <div class="col-md-4">
        <div class="card h-100">
          <%= image_tag(listing.images[0]) if listing.images.attached? %>
          <div class="card-body">
            <h5 class="card-title"><%= listing.name %></h5>
            <p class="card-text"> $ <%= listing.price %></p>
            <p><%= listing.description %></p>
            <%= link_to "Buy Now!", listing_path(id: listing.id), method: :get, class: "slider-btn"%>
            <br>
            <br>
              <% if user_signed_in? && current_user.id == listing.user_id %>
              <%= link_to 'Edit Listing', edit_listing_path(listing) %>
              <%= link_to 'Destroy Listing', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>

<br>

