<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Images:</strong>
  <% if @listing.images.attached? %>
  <div style="width:300px; height:300px;">
  <% @listing.images.each do |image| %>
    <%= image_tag(image) %>
  <% end %>
  </div>
<% end %>
</p>

<p>
  <strong>User:</strong>
  <%= @listing.user_id %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
