<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Images:</strong>
  <% if @listing.images.attached? %>
  <div class="show-img">
  <% @listing.images.each do |image| %>
    <%= image_tag(image) %>
  <% end %>
  </div>
<% end %>
</p>

<button id="checkout-button">Checkout</button>

<script>
  document.getElementById('checkout-button')
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      )

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      })
    })
</script>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>