<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to "KickSwap", root_path, method: :get, class: "navbar-brand"%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Buy Kicks", listings_path, method: :get, class: "nav-link"%>
          </li>
          <li class="nav-item active">
          <% if !user_signed_in?%>
            <%= link_to "Sell Kicks", new_user_registration_path, method: :get, class: "nav-link"%>
            <% else %>
            <%= link_to "Sell Kicks", new_listing_path, method: :get, class: "nav-link"%>
            <% end %>
          </li>
          <li class="nav-item active">
            <% if !user_signed_in? %>
            <%= link_to "Log In", new_user_session_path, method: :get, class: "nav-link"%>
            <% else %>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link"%>
            <% end %>
          </li>
        </ul>
        <form>
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </nav>